name: Java CI with Maven
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 1.8
      uses: actions/setup-java@v3
      with:
          distribution: 'temurin'
          java-version: 8.0.332+9
          cache: 'maven'
    - name: Build with Maven
      run: mvn -B install --file pom.xml
    - name: Update README.md with build status
      run: echo "![Build Status](https://github.com/MarcGiu/Assigment2/workflows/Build/badge.svg)" > README.md
      if: always()
    - name: Upload code coverage report
      uses: actions/upload-artifact@v2
      with:
        name: jacoco-report
        path: target/site/jacoco
      if: always()
    - name: Coveralls GitHub Action
      uses: coverallsapp/github-action@v2.3.0
